
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}


.weather-cards-container {
  display: flex;
  justify-content: space-around; 
  gap: 20px;
  flex-wrap: wrap; 
  margin-top: 20px;
}

.weather-card {
  background-color: rgb(82, 173, 218);
  border-radius: 10px;
  padding: 20px;
  width: 280px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex-shrink: 0;
}

.weather-icon {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}


.weather-card canvas {
  width: 100% !important;
  max-width: 260px;
  margin: 0 auto;
}


@media (max-width: 1200px) {
  .app-container {
    padding: 10px;
  }

  .weather-cards-container {
    flex-direction: column; 
    gap: 15px;
  }

  .weather-card {
    padding: 15px;
    margin-bottom: 20px;
    width: 100%; 
  }

  h1 {
    font-size: 1.5em;
  }

  .weather-icon {
    width: 40px;
    height: 40px;
  }
}


.error {
  color: red;
  font-size: 1.2em;
  text-align: center;
}
